@charset "UTF-8";
.carebody{
	border-collapse:collapse;
	background-color:skyblue;
	width:600px;
	height:320px;
	position:absolute;
	left:50%;
	top:50%;
	margin-left:-300px;
	margin-top:-160px;
	/*text-align:center;
	vertical:center;*/
}

.tabletitle{
	
background-image: url("../image/table_title_mid.gif");	

}

.rowlabel{
	width:12%;
}
.rowdata{
	width:38%;
	
}
.defaultinput{
	
	width:99%;
}
.buttonline{
	height:40px;	
	text-align:center;
	vertical:center;	
}

.defaultbutton{
	background-image: url("../image/button02.gif");	
	width:60px;
	height:20px;
	border:0;
	margin-left:10px;
	text-align:center;
	vertical:center;
}